<div class='search-form-wrapper'>
  <form class='search-form has-icons-left has-icons-right control'>
    <input class='input' type='text' placeholder='会社名・氏名で検索' name='query'>
    <span class='icon is-left'>
      <i class='fas fa-search'></i>
    </span>
    <button class='button'>検索</button>
  </form>
</div>
